html {
  background: url(../img/테두리.png), url(../img/web_background.png);
  -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
  margin-bottom: 15%;

  /* IE6~8 지원 */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/테두리.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/테두리.png', sizingMethod='scale')";

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/web_background.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/web_background.png', sizingMethod='scale')";
}

.logo {
  width: 25%;
  height: 50%;
  margin-top: 8%;
  max-width: 100%;
  object-fit: cover;
}
