<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doomchit_doomchit">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BeatMakingPopActivity" android:theme="@style/Theme.AppCompat" android:screenOrientation="landscape" />
        <activity android:name=".BeatMakingClassicActivity" android:theme="@style/Theme.AppCompat" android:screenOrientation="landscape" />
        <activity android:name=".BeatMakingOriginalActivity" android:theme="@style/Theme.AppCompat" android:screenOrientation="landscape" />
        <activity android:name=".RecordListActivity" android:theme="@style/Theme.AppCompat" android:screenOrientation="landscape"
            tools:ignore="MissingClass" />
        <activity android:name=".BeatSelectActivity" android:theme="@style/Theme.AppCompat" android:screenOrientation="landscape"/>

        <service
            android:name=".RecordingServicePop"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>

        <service
            android:name=".RecordingServiceOrigin"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>

        <service
            android:name=".RecordingServiceClassic"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>