body {
  background-image: url(../img/web_background.png);
  background-size: 100%;
  background-origin: border-box;
  background-position: 50%;
  overflow-x: hidden;
}

.logo {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
