.guide_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 2%;
}

.guide {
  color: #ed0082;
  font-size: 1em;
}

.video {
  width: 45%;
  height: 45%;
  /* position: relative; */
  /* padding-bottom: 56.25%; */
  /* text-align: left; */
}

.playbtn {
  margin: 10%;
}
