.list {
  color: #ed0082;
  font-size: 1em;
  bottom: -15.5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.content {
  color: #ffffff;
  font-size: 0.7em;
  bottom: -20.5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
