.container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-bottom: 10%;
}
.box {
  flex: 1 1 40%;
  /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
  width: 30%;
  height: auto;
  margin: 0.5vw;
  padding-bottom: 2%;
  background: rgba(8, 159, 184, 0.1);
  box-shadow: inset 1px 2px 8px rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  border: 2px solid #61c2f7;
}

.box:hover {
  background: rgba(237, 0, 130, 0.1);
  box-shadow: inset 1px 2px 8px rgba(255, 255, 255, 0.38);
  border-radius: 25px;
  border: 3px solid #ff00ae;
}

.box:hover > div:nth-of-type(4),
.box:hover > div:nth-of-type(5) {
  filter: drop-shadow(0px 0px 8px rgba(237, 0, 130, 1));
}

.song_title {
  font-size: 0.6em;
  color: white;
  text-align: left;
  margin-top: 6%;
  margin-left: 9%;
}

.composer {
  font-size: 0.5em;
  color: #32eeff;
  text-align: left;
  margin-top: 1%;
  margin-left: 9%;
}

.music_length {
  font-size: 0.52em;
  color: white;
  float: left;
  margin-top: 15%;
  margin-left: 58%;
}

.play,
.share {
  float: right;
  margin-top: 14%;
  margin-right: 7%;
  opacity: 0.7;
  /* IE8 및 그 이하 버전용 */
  filter: alpha(opacity=70);
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.4));
}

.play > img,
.share > img {
  width: 70%;
  height: 75%;
}
