html {
  font-family: "vtfont";
  /* 글꼴 크기 조정을 방지 */
  -webkit-text-size-adjust: 100%;
  /* 폰트를 부드럽게 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 웹킷 마음대로 눌림 하이라이트 막음 */
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  width: 5%;
  color: #ed0082;
  text-align: center;
  border: none;
  border: 1px solid #ed0082;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

span {
  position: absolute;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* 브라우저는 렌더링 속도, 정밀도에 대한 가독성을 강조 */
/* @media screen and (min-width: 960px) { 
  html, body {
      text-rendering: optimizeLegibility;
  }
} */

@media (max-width: 300px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 200%;
  }
}
